@model Lisa.Civilization.ViewModels.JoinLessonViewModel

@{
    ViewBag.Title = "Join";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    
    <p>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
    </p>
    
    <p>
        @Html.LabelFor(m => m.LessonId)
        @Html.TextBoxFor(m => m.LessonId)
    </p>
    
    <p>
        <input type="submit" value="@Resources.Views.Lesson_Join_Join">
    </p>
}